---
import HomeFija from '../components/PagesTsx/HomeFija';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Planes Claro Hogar Perú">
	<main>
		<HomeFija client:only="react"/>
	</main>
</Layout>

<style>

</style>
