---
import Layout from '../layouts/Layout.astro';
import HomeMovil from '../components/PagesTsx/HomeMovil'
---

<Layout title="Planes Claro Hogar Perú">
	<main>
		<HomeMovil client:only="react"/>

	</main>
</Layout>

<style>
	
</style>
